# VCS
.git
.gitignore
.gitattributes

# IDE
.idea
.vscode
*.swp
*.swo
.DS_Store
Thumbs.db

# Laravel / PHP
vendor/
storage/*
!storage/app/public/*
bootstrap/cache/*
.env
.env.*
*.log

# Node / Frontend
node_modules/
npm-debug.log*
yarn.lock
.pnpm-store/
.cache/
dist/
public/hot
public/storage # если генеришь симлинк отдельно
resources/**/__tests__/
coverage/

# Docker
docker-compose*.yml
Dockerfile*
*.tar
