.dev
.idea

.deploy
!.deploy/nginx/nginx.prod.conf
!.deploy/nginx/entrypoint.sh

!.deploy/php/php.prod.ini
!.deploy/php/supervisord.conf

tests
.env.example
.env

.git
.gitattributes
.gitignore

API.yaml
compose.yaml
phpunit.xml
prod-compose.yaml
